.addBlockForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.addBlockForm label {
  font-weight: 600;
}

.addBlockForm input {
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #eee;
  box-shadow: var(--box-shadow-primary);
}

.addBlockForm input::placeholder {
  font-family: var(--font-family)
}

.addBlockForm button {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #eee;
    font-family: var(--font-family);
    box-shadow: var(--box-shadow-primary);
    font-weight: 600;
}
