.tools {
    padding: 32px 0;
    margin-bottom: 64px;
    border-bottom: 1px solid #aaa;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.btnsWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 64px;
}

@media screen and (max-width: 768px) {
    .inner {
        flex-direction: column;
        gap: 32px;
    }

    .btnsWrapper {
        width: 100%;
        margin: 0;
        gap: 16px;
    }
}
