.shuffleButton {
    background-color: rgb(96, 146, 100);
    color: #eee;
    font-weight: 600;
    transition: background-color .1s ease-in;
}

.shuffleButton:hover {
    background-color: rgb(49, 109, 54);
}

.shuffleButton:disabled {
    background-color: rgb(44, 83, 44);
    color: #888;
    cursor: not-allowed;
}